body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 10px 0 0 10px;
  padding: 0 10px 10px 10px;
  background-color: #E7ECEF;
  border: 1px solid #011627;
  width: 80%;
  color: #274C77;
}

#root h2 {
  margin-bottom: 20px;
}

#root h3 {
  margin-top: 20px;
}

#root h2, h3 {
  font-weight: normal;
  text-transform: uppercase;
}

h3 a {
  text-decoration: none;
  background-color: #6096BA;
  border: 1px solid #011627;
  padding: 5px;
  color: #274C77;
}

h3 a:hover {
  background-color: #274C77;
  color: #6096BA;
}

h3 a:focus {
  background-color: #274C77;
  color: #6096BA;
}


#root ul {
  list-style-type: none;
  margin-bottom: 10px;
}

#root ul li {

}

#root ul li a {
  background-color: #274C77;
  border: 1px solid #011627;
  padding: 5px;
  text-decoration: none;
  color: #A3CEF1;
}

#root ul li a:hover {
  background-color: #A3CEF1;
  color: #274C77;
}

#root ul li a:focus {
  background-color: #A3CEF1;
  color: #274C77;
}

